# dependencies
node_modules
.pnp
.pnp.*

# build output
.next
out
build
dist

# env
.env*
!.env.example

# misc
.DS_Store
*.log
.idea
.vscode

# typescript build info
*.tsbuildinfo

# typescript build info
*.tsbuildinfo
